*{
    padding: 0;
    margin: 0;
}
#home {
    background-image: url(./images/bg-home.jpg);
    width: 100%;
    background-size: cover;
}
#start-button{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    color: #563315;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 25px;
    border: 3px solid #f8e4db;
    background: transparent;
    color: #f8e4db;
    text-shadow: 2px 2px 7px rgba(28,110,164,0.56);
    transition: background .5s ease-out;
   
    
}
#start-button:hover{
    background: #f8e4db;
    color:#452d00;
    transition: background .5s ease-out;
}
    
.none{
    display: none
}

.logo {
    display: block;
    width: 50%;
    margin:auto;
    padding-top:40px; 
    /* padding-top: 100px; */
}

.home1 {
   width: 30%;
    position: absolute;
    left: 40px;
    bottom:0;
}

.home2 {
    width: 30%;
    position: absolute;
    right: 40px;
    bottom:0;
}

